body{
    margin: 0;
    font-family: sans-serif;
    background: #eee;
}
.container{
    width: 90%;
    margin: auto;
    height: 100%;
}
.container_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    max-width: 100%;
    width: 100%;
}
.logo{
    width: 20px; 
    height:20px; 
    display:inline-block;
    object-fit:contain
}

/* =============
Header and Navbar
==============*/
header{
    position: sticky;
    top: 0;
    background: #0F172B;
    color: #fff;
    width: 100%;
    min-height: 70px;
    z-index: 5;
}
header h1{
    margin: 16px 0;
    color: #FEA116;
}
nav{
    margin-top: 9px;
    text-transform: uppercase;
    font-family: sans-serif;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    margin-left: 30px;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
nav a:hover{
    color: #FEA116;
}
.active{
    color: #FEA116;
}

@media(max-width:675px){
    .container_flex{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        padding-left: 0;
    }
    nav li{
        margin:6px 0;
    }
}



/*==============
    Slider Part
================*/
.slider{
    width: 100%;
    background-color: #0F172B;
    height: 570px;
    color: white;
}
.slider_title{
    width: 50%;
    float: left;
}
.slider_title h2{
    font-size: 4rem;
    font-weight: 700;
    margin: 120px 0px 0px 0px;
}
.slider_img{
    width: 50%;
    float: left;
}
.slider_img img{
    width: 80%;
    display: block;
    float: right;
    margin-top: 40px;
}
.btn_book{
    background: #FEA116;
    color: #fff;
    padding: 17px 45px;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
}
.slider_p{
    margin-bottom: 50px;
    box-sizing: border-box;
}







/*===============
 Features Part 
 ================*/
 .features{
    width: 100%;
    height: 400px;
}
.features ul{
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}
.features li{
    width: 23%;
    float: left;
    height: 250px;
    list-style-type: none;
    margin: 65px 12px;
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}
.features li:first-child{
    margin-left: 6px;
}
.features li:last-child(){
    margin-right: 0;
}
.features li:hover{
    background: #FEA116;
    color: #fff;
}
.features i{
    width: 40px;
    height: 30px;
    display: block;
    margin: 30px 0;   
}


/*==============
Wemocme Part
================*/
.num{
    font-size: 3rem;
    font-weight: 700;
    display: inline-block;
    height: 100%;
    width: 20%;
    float: left;
    color: #FEA116;
    padding-right: 20px;
}
.num_txt{
    line-height: 25px;
    color: gray;
}
.num_txt strong{
    color: #000;
}
.welcome{
    width: 100%;
    height: 600px;
}
.welcome div{
    width: 50%;
    float: left;
}
.welcome img{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    border-radius: 4px;
}
.welcome img:nth-child(1){
    width: 240px;
    height: 240px;
}
.welcome img:nth-child(2){
    width: 195px;
    height: 180px;
}
.welcome img:nth-child(3){
    width: 195px;
    height: 180px;
    position: relative;
    top: -60px;
    left: 45px;
}
.welcome img:nth-child(4){
    width: 240px;
    height: 240px;
    position: relative;
    top: 0px;
    right: -45px;
}


.spl_font{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #FEA116;
    font-size: 1.5rem;
    font-weight: 600;
}
.logo_fork{
    width: 30px;
    height: 30px;
    display: inline-block;
    object-fit: cover;
    
}
.logo_fork .logo_fork_img{
    width: 100%;
    display: inline-block;
    object-fit: cover;
}
.welcome_txt{
    padding: 20px;
    box-sizing: border-box;
}
.welcome_txt div{
    width: 48%;
    float: left;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 15px;
    border-left: 3px solid #FEA116;
}
.welcome_txt .exp_year{
    margin-left: 0;
}
.welcome_txt p{
    color: gray;
}

/*============
FOOD MENU START
==============*/

.food_menu{
    width: 100%;
    max-height: 670px;
}
.food_menu_txt{
    text-align: center;
}
.food_menu_txt h1{
    font-size: 3rem;
    
}
.food_menu_txt ul{
    padding: 0;
    text-align: center;
    width: 100%;
    height: 75px;
    padding-left: 260px;
    box-sizing: border-box;
}
.food_menu_txt ul li{
    list-style-type: none;
    float: left;
    width: 14%;
    text-align: right;
    margin-left: 60px;
}
.food_menu_txt ul li .menu_active{
    border-bottom: 2px solid #FEA116;
}
.food_menu_txt i{
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
}
.food_menu_txt i img{
    width: 100%;
}
.m_txt{
    font-size: 10pt;
    color: gray;
}
.m_txt2{
    font-weight: bold;
}


/*=================
START OF FOOD ITEMS
=================*/
.food_items{
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    display: block;
}

.food_items_one{
    width: 100%;
    height: 100%;
}
.food_items_one ul{
    width: 100%;
    height: 100%;
    padding: 0;
}
.food_items_one ul li{
    width: 47.7%;
    height:17% ;
    list-style-type: none;
    float: left;
    position: relative;
    margin-top: 15px;
}
.food_items_one ul li:nth-child(odd){
    margin-right: 50px;
    box-sizing: border-box;

}
.food_items_one ul li img{
    width: 80px;
    height: 80px;
    float: left;
    border-radius: 4px;
    margin-right: 20px;
}
.food_items_one ul li h3{
    font-weight: 700;
    margin: 10px 0;
}
.food_items hr{
    color: silver;
}
.food_item_txt{
    font-size: 10pt;
    font-style: italic;
    color: gray;
}
.food_item_price{
    color: #FEA116;
    font-weight: 700;
    font-size: 1.7rem;
    position: absolute;
    top: 0px;
    right: 0;
}

/*=============
BOOK MARK START
===============*/
.book_mark{
    width: 100%;
    height: 510px;
    
}
.book_mark div{
    width: 50%;
    box-sizing: border-box;
    float: left;
}
.book_video{
    position: relative;
}
.book_video img{
    width: 100%;
    height: 510px;
    object-fit: cover;
}
.book_video a{
    width: 70px;
    height: 70px;
    background: #FEA116;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 200px;
    cursor: pointer;
}
.book_form{
    background-color: #0F172B;
    height: 100%;
    padding:0 50px;
    box-sizing: border-box;
    padding-top: 30px;
}
.book_form h2{
    color: white;
    font-size: 2.3rem;
    margin: 10px 0px 30px 0px;
}
.book_form{
    font-weight: bold;
}
.book_form input , select{
    width: 46%;
    float: left;
}
.book_form input[type=text], input[type=email], input[type=date], select{
    padding: 20px 0;
    margin-top: 20px;
    border-radius: 4px;
    border: none;
    font-size: .9rem;
    padding-left:10px ;
    box-sizing: border-box;
}
.book_form input[type=text]:focus, input[type=email]:focus, input[type=date]:focus, textarea:focus{
    outline: none;
}
.book_form input:nth-child(odd){
    margin-right: 30px;
}
.book_form textarea{
    width: 96.4%;
    margin-top: 20px;
    height: 90px;
}
.book_form select{
    width: 46%;
    background: #fff;
    border-radius: 4px;
    outline: none;
    border: none;
}
.book_form input[type=submit]{
    width:98% ;
    background: #FEA116;
    color: #fff;
    padding: 18px 0;
    margin-top: 18px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
}























@media(max-width:675px){
    
    .container{
        width: 100%;
    }
    header{
        position: static;
    }
    .slider{
        height: 1000px;
    }
    .slider_title{
        width: 100%;
        text-align: center;
    }
    .slider_img{
        width: 100%;
    }
    .slider_img img{
        margin: 80px 60px 0px 0px;
    }
    .features{
        height: 580px;
    }
    .features li{
        width: 45%;
        margin: 20px 15px;
    }
    .features li:first-child{
        margin-left: 15px;
    }
    .welcome{
        height: 1050px;
    }
    .welcome div{
        width: 100%;
    }
    .welcome_txt{
        text-align: center;
    }
    .welcome_txt div{
        width: 47%;
        float: left;
        box-sizing: border-box;
    }
    .wel_img{
        margin-left: 55px;
        box-sizing: border-box;
    }

    .food_menu_txt ul{
        padding-left: 70px;
        text-align: center;
    }
    .food_menu_txt ul li{
        margin-left: 17px;
        width: 25%;

    }
    .food_items div{
        width: 90%;
        margin: auto;
    }
    .food_items_one{

    }
    .food_items{
        height: 920px;
        margin: auto;
    }
    .food_items_one ul {
        width: 100%;
        height: 100%;
    }
    .food_items_one ul li{
        width: 90%;
        height: 100px;
    }
    .food_menu {
        max-height: 1150px;
    }

    .book_mark{
        height: 1200px;
    }
    .book_mark div{
        width: 100%;
    }
    .book_form{
        height: 680px;
    }
    .book_form input[type=text], input[type=email], input[type=date]{
        width: 100%;
    }
    .book_form select{
        width: 100%;
    }
    .book_form textarea{
        width: 98.4%;
    }
    .book_form input[type=submit]{
        width: 100%;
    }
}