body{
    margin: 0;
    font-family: sans-serif;
}
.container{
    width: 90%;
    margin: auto;
    height: 100%;
}
.container_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    max-width: 100%;
    width: 100%;
}
.logo{
    width: 20px; 
    height:20px; 
    display:inline-block;
    object-fit:contain
}

/* =============
Header and Navbar
==============*/
header{
    position: sticky;
    top: 0;
    background: #0F172B;
    color: #fff;
    width: 100%;
    min-height: 70px;
}
header h1{
    margin: 16px 0;
    color: #FEA116;
}
nav{
    margin-top: 9px;
    text-transform: uppercase;
    font-family: sans-serif;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    margin-left: 30px;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
nav a:hover{
    color: #FEA116;
}
.active{
    color: #FEA116;
}

@media(max-width:675px){
    .container_flex{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        padding-left: 0;
    }
    nav li{
        margin:6px 0;
    }
}



/*==============
    Slider Part
================*/
.slider{
    width: 100%;
    background-color: #0F172B;
    height: 570px;
    color: white;
}
.slider_title{
    width: 50%;
    float: left;
}
.slider_title h2{
    font-size: 4rem;
    font-weight: 700;
    margin: 120px 0px 0px 0px;
}
.slider_img{
    width: 50%;
    float: left;
}
.slider_img img{
    width: 80%;
    display: block;
    float: right;
    margin-top: 40px;
}
.btn_book{
    background: #FEA116;
    color: #fff;
    padding: 17px 45px;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
}
.slider_p{
    margin-bottom: 50px;
    box-sizing: border-box;
}

@media(max-width:675px){
    
    .container{
        width: 100%;
    }
    header{
        position: static;
    }
    .slider{
        height: 1000px;
    }
    .slider_title{
        width: 100%;
        text-align: center;
    }
    .slider_img{
        width: 100%;
    }
    .slider_img img{
        margin: 80px 60px 0px 0px;
    }
}
